@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  padding: 10px 20px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: bisque;
  padding-left: 110px;
}
.logo:hover {
  color: aqua;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-right: 80px;
}
.nav-links a {
  color: cyan;
  text-decoration: none;
  font-size: 18px;
}
.nav-links a:hover {
  color: white;
  text-decoration: underline;
}

#hero {
  background-color: blue;
  display: flex;
  padding: 150px;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* */
}
@media only screen and (max-width: 600px) {
  #hero {
    height: 500px;
  }
  .container {
    flex-wrap: wrap-reverse;
  }
  .hero-img {
    margin-bottom: 1rem;
  }
  .nav-links a {
    font-size: 15px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    /* padding: 10px 20px; */
  }
  .logo {
    padding-left: 10px;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 10px;
  }
}
.content h2 {
  padding-bottom: 5px;
  text-transform: capitalize;
}
.content {
  min-width: 60%;
  max-width: 100%;
  color: white;
}
-img {
  border-radius: 10px;
}
#font {
  background-color: rgba(95, 200, 226, 0.822);
}
.grid {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 230px;
  max-height: 100%;
}
.grid1 {
  background-color: blue;
  padding: 20px;
  color: white;
  border-radius: 10px;
  padding-top: 1%;
  height: 140px;
}
.grid2 {
  background-color: blue;
  padding: 20px;
  color: white;
  border-radius: 10px;
  padding-top: 1%;
  height: 140px;
}
.grid3 {
  background-color: blue;
  padding: 20px;
  color: white;
  border-radius: 10px;
  padding-top: 1%;
  height: 140px;
}
.upper h2 {
  padding-bottom: 10px;
}
.upper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.icon-D {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.ixon {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.ixc {
  margin-bottom: 10px;
}
